body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #2D25A0;
    height: 70px;
}
.navigation{
    height: 44px;
    width: 80%;
    margin:auto;
   


}
.menu-area{
  display: flex;  
  justify-content: space-between;
}
.menu-area ul{
    display: flex;
    padding:0;
    margin-top: 20px;
    
}

.menu-area li{
    list-style: none;
    margin-right: 20px;
    align-items: center;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 200;

}
.menu-area ul li :hover{
    background-color: red;
}

.menu-area a{
    text-decoration: none;
    color: white;
}

.fa-bars{
    display: none;
}
/* login area button */

.login{
    background-color: #E02C6D;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    padding: 10px 20px;
}
button {
    border: none;
   
}
.fa-sign-in-alt{
    color: white;
    margin-right: 7px;
    font-size: 23px;
}

/* text and img part */
.second-part{
    display: flex;
    width: 100%;
    margin: auto;
    background-color:  #2D25A0;
}
.text-area{
    width: 40%;
    height: 700px;
    color: white;
    margin-left: 10%;
}
.text-area .conmebol {
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    color: white;
    margin-top: 130px;
    margin-bottom: 5px;
}
.text-area button {
    font-family: Poppins;
    font-size: 20px;
    background-color: #E02C6D;
    margin-top: 10px;
    padding: 10px 10px;
}
.text-area button a {
    text-decoration: none;
    color: white;
    font-weight: 200;

}
.fa-arrow-right{
    margin-left: 5px;
    color: white;
    ;
}

.image-area{
    width: 40%;
    height: 700px;
    margin-right: 10%;
}
.image-area img{
    height: 438px;
    width: 556px;
    margin-top: 75px;

}


/* player imh */
.players-area .adjust-area{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-row-gap: 37px;
    grid-column-gap: 27px ;
    
}

.adjust-area .players{
    height: 474px;
    width: 330px;
    box-shadow: rgb(230, 220, 220) 10px 10px 10px 10px;
    border-radius: 5px;
    padding: 20px;

}
.players-area p{
 
    word-wrap: break-word;
    
}
.players img{
    height: 270px;
    width: 330px;

}


/* messi */
.messi{
    display: flex;
    margin-top: 100px;
    
}


.text-part{
    margin-left: 10%;
    width: 40%;
    color: rgb(8, 3, 3);
}

.text-part button a{
    text-decoration: none;
    color: white;
    font-weight: 200;
 
 }
 
 .text-part button {
     font-family: Poppins;
     font-size: 20px;
     background-color: #E02C6D;
     margin-top: 10px;
     padding: 10px 10px;
 }

.image-part{
    width: 40%;
    margin-right: 10%;
}

.image-part img{
    height: 337px;
    width: 487px;
    margin-top: 20px;
    margin-left: 50px;

}


/* fotter area */

footer{
   margin-top: 100px;
    
}

.footer-area{
margin-top: 100px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}
footer h3{
    font-weight: 200;
    color: darkgrey;
}
.icons a img{
    width: 35px;
    height: 35px;
   
}
.logo img{
    width: 550px;
height: 150px;
}


@media only screen and (max-width: 500px) {
.menu-area li a{
    display: none;
    
    }
.fa-bars{
    display: block;
    
}
.second-part{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color:  #2D25A0;
}

.image-area img {
     width: 396px;
     margin-top: 0;
     height: 290px;
     margin-left: 10px;

  }

  .players-area .adjust-area{
    width: 80%;
    margin-left: 8%;
   
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    grid-row-gap: 37px;
    grid-column-gap: 27px ;
    
}

.messi{
    display: flex;
    flex-direction: column;
    
}

.image-part img{
    height: 248px;
    width: 361px;
    margin-top: 20px;
    margin-left: 36px;

}

.logo img{
    width: 275px;
height: 50px;
}
.text-part{
  margin: 0 10%;
    width: 80% ;
    color: rgb(8, 3, 3);
}

}